<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Customer List</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary float-right" (click)="create()">New Customer</button>
    </div>
  </div>
  <div class="card-body" *ngIf="customers?.length">
    <div class="card card-with-action border-primary mb-3">
      <table class="table table-fixed table-bordered table-striped table-hover margin-bottom-0">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PHONE</th>
            <th>ACTIONS</th>
            <!-- <th>&nbsp;</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.id}}</td>
            <td>{{customer.customerName}}</td>
            <td>{{customer.customerPhone}}</td>
            <td>
              <a title="Edit Entity" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="edit(customer.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
              <a title="Delete Entity" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="delete(customer)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
              <!--<a title="View Entity" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="view(customer.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Visible.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>-->
            </td>
            <!-- <td class="text-center cell-action" ngbDropdown placement="bottom-right top-right">
                <a href="javascript:" ngbDropdownToggle><i class="material-icons" title="Actions">flash_on</i></a>
                <div ngbDropdownMenu>
                  <a href="javascript:" class="dropdown-item" (click)="editTestEntity(customer.id)">Edit </a>
                  <a href="javascript:" class="dropdown-item" (click)="deleteTestDelete(customer.id)">Delete </a>
                  <a href="javascript:" class="dropdown-item" (click)="viewTestDelete(customer.id)">View </a>
                </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <app-pagination [collectionSize]="totalCount"
                    [pageSize]="filter.pageSize"
                    [page]="filter.pageNo"
                    (pageChange)="pageChanged($event)"
                    (pageSizeChange)="pageSizeChanged($event)">
    </app-pagination> -->
  </div>
  <div class="card-body">
    <!-- <ng-container *ngIf="!customers.length && !isLoading">
        <app-data-loading-empty></app-data-loading-empty>
    </ng-container> -->
  </div>
</div>
