<div class="modal-content">
  <div class="modal-header">
      <div class="modal-title h4 whiteFontColor" id="example-modal-sizes-title-lg">
          <ng-container *ngIf="testEntity">
              <ng-container *ngIf="testEntity.id" class="font-weight-bold">
                  <strong>Test Entity Details</strong>
              </ng-container>
          </ng-container>
      </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
      <ng-container *ngIf="isLoading">
          <div class="overlay-layer bg-transparent">
              <div class="spinner spinner-lg spinner-success"></div>
          </div>
      </ng-container>
      <ng-container *ngIf="testEntity">
          <form action="#" class="form form-label-right">
              <!-- TestEntity Name -->
              <div class="form-group row">
                  <label class="col-3 col-form-label text-lg-right"><b>Name:</b></label>
                  <div class="col-9">
                      <label class="col-form-label text-lg-left">{{ testEntity.testName }}</label>
                  </div>
              </div>
              <!-- TestEntity Name -->
              <!-- TestEntity Description -->
              <div class="form-group row">
                  <label class="col-3 col-form-label text-lg-right"><b>Description:</b></label>
                  <div class="col-9">
                      <label class="col-form-label text-lg-left">{{ testEntity.testDescription }}</label>
                  </div>
              </div>
              <!-- TestEntity Description -->
          </form>
      </ng-container>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()"><i class="fas fa-window-close"></i>Close</button>
  </div>
</div>
