.thead-current {
  background-color: currentcolor;
}
.tr-lightsteelblue {
  background-color: lightsteelblue;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: lightsteelblue;
}

.action-dropdown {
  min-width: 101px;
}

.margin-right-10 {
  margin-right: 10px;
}

.title-placement,
.action-placement {
  padding: 10px;
  margin-right: 15px;
}
